.card {
   padding      : 40px 60px 40px 60px;
   border-radius: 10px;
   width        : 300px;
   height       : 200px;
   border       : 1px solid;
   border-color : gainsboro;
}

.create_account {
   display        : flex;
   align-items    : center;
   justify-content: center;
   padding        : 30px;
   border-radius  : 10px;
   width          : 362px;
   height         : 60px;
   border         : 1px solid;
   border-color   : gainsboro;
}

::ng-deep .mat-form-field-flex {
   display: inline-flex;
   align-items: flex-start;
   box-sizing: border-box;
   width: 100%;
   align-content: space-between;
   flex-direction: column;
}