<mat-toolbar style="background-color: #A03037; color: antiquewhite;">

   <img src="../../../assets/images/education.svg" style="padding: 0px 6px 0px 25px;">
   <span>Bookstore</span>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
   <h1>Forgot your Password?</h1>

   <mat-card class="card">
      <div style="color: #878787;">Enter your email address and we'll send you a link to reset your password.</div>

      <form [formGroup]="forgotPassForm" (ngSubmit)="onReset()">

         <div fxLayout="column" fxLayoutAlign="space-around" style="padding-top: 20px;">
            <label for="email">Email Id</label>
            <input id="email" type="email" formControlName="email"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="on" style="height: 25px;" />
            <mat-error *ngIf="submitted && f.email.errors">
               <div *ngIf="f.email.errors.required">Email is required</div>
               <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </mat-error>

            <div style="padding-top: 25px;">
               <button mat-raised-button style="background-color: #A03037; color: aliceblue; width: 100%;">Reset Password</button>
            </div>
         </div>

      </form>

   </mat-card>

   <mat-card class="create_account">
      <button mat-button style="font-size: 17px; font-weight: 500;">CREATE ACCOUNT</button>
   </mat-card>
</div>