<mat-toolbar class="toolbar">
   <img src="../../../assets/images/education.svg" style="padding: 0px 0px 0px 201px;" [ngStyle.xs]="{'padding.px': 0}"
      [ngStyle.sm]="{'padding.px': 0}">
   <button mat-button style="font-size: 20px; padding-left: 7px;" (click)='homeButton()'>Bookstore</button>

   <div class="search_bar" fxHide.lt-md>
      <mat-icon class="search_icon">search</mat-icon>
      <input type="text" placeholder="Search..." class="search_input">
   </div>

   <span style="flex: 1 1 auto;"></span>
   <div style="margin-right: 187px;" [ngStyle.lg]="{'margin-right.px': 187}" [ngStyle.xs]="{'margin-right.px': 0}"
      [ngStyle.sm]="{'margin-right.px': 0}">
      <button mat-icon-button style="margin-right:60px;" [ngStyle.xs]="{'margin-right.px': 10}"
         [ngStyle.sm]="{'margin-right.px': 10}" [ngStyle.lg]="{'margin-right.px': 60}" [matMenuTriggerFor]="belowMenu">
         <div fxLayout="column">
            <i class="material-icons-outlined">perm_identity</i>
            <span class="button_labels">{{name}}</span>
         </div>
      </button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
         <p style="padding: 15px 15px 0px 15px;">Hello, {{name}}</p>
         <button mat-menu-item (click)='profileButton()'>Profile</button>
         <button mat-menu-item>My Orders</button>
         <button mat-menu-item>My Wishlist</button>
      </mat-menu>

      <button mat-icon-button (click)="onCart()">
         <div fxLayout="column">
            <i class="material-icons-outlined" matBadge={{cartNumber}} matBadgeColor="accent"
               matBadgeSize="small">shopping_cart</i>
            <span class="button_labels">Cart</span>
         </div>
      </button>
   </div>
</mat-toolbar>

<div>
   <router-outlet></router-outlet>
</div>
<div style="position: static; bottom: 0; width: 100%;">
<app-footer></app-footer></div>