<mat-card class="card">

   <div class="book_img_div">
      <img src="./../../../assets/images/Image 7@2x.png" alt="book" class="book_img">
   </div>

   <div style="padding: 10px 0px 10px 0px;" fxLayout="column" fxLayoutGap="8px">
      <div style="font: normal normal normal 14px/19px Roboto; color: #0A0102;">
         Don't Make Me Think
      </div>

      <div style="font: normal normal normal 10px/13px Roboto; color: #878787;">
         by Steve Krug
      </div>

      <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign=" center">
         <div class="book_rating">
            <div style="font: normal normal bold 10px/13px Roboto; color: #FFFFFF;">4.5</div>
            <div>
               <mat-icon style="font-size: 10px; height: 4px; width: 10px; color: #FFFFFF;">star</mat-icon>
            </div>
         </div>
         <div style="font: normal normal normal 10px/13px Roboto; color: #878787;">
            (20)
         </div>
      </div>

      <div fxLayout="row" fxLayoutGap="8px">
         <div class="book_price">Rs.1500</div>
         <div class="discount_price">Rs.2000</div>
      </div>
   </div>
</mat-card>